@charset "utf-8";

body {
	background:url("/static/img/bg.fa6a95e71d18.png");
	color: #0a0a0a;
}

a {
	color:#6365CC;
}
a:hover {
	color:#5490CC;
	text-decoration:underline;
}

#download_box {
	position: fixed;
	right: 35%;
	left: 35%;
	top: 35%;
	padding: 20px;
	border: 2px solid black;
	border-radius: 7px;
	background: #FCFCFC;
	font-family: sans-serif;
}
#download_box #header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom: 1px solid #0C0C0B;
	background: #E2E2E2;
	color: #0C0C0B;
	font-weight: bold;
}
#download_box #header > img {
	width: 18px;
	height: 18px;
	position: absolute;
	right: 5px;
	cursor: pointer;
}
#download_box #content {
	margin-top: 25px;
}
#download_box #xml_notice {
	font-style: italic;
	font-size: 0.8em;
	color: grey;
}
#dl_submit > button {
	float: right;
}

#error_box {
	position: relative;
	float: left;
	min-height: 20px;
	background-color: #e63946;
	color: #fdfdfc;
	padding: 5px;
	border: 2px solid #fdfdfc;
	border-radius: 5px;
	font-family: sans-serif;
}
#error_box:empty {
	display: none;
}
#error_box #prefix {
	font-weight: bold;
	display: inline;
}

#loader {
	position: relative;
	float: right;
}
#loader > img {
	width: 25px;
	height: 25px
}

#status-bar {
	position: fixed;
	top: 0;
	right: 0;
	padding: 3px;
}

#download {
	position: relative;
	cursor: pointer;
	float: right;
	width: 30px;
	height: 30px;
}

.message_prefix {
	color: #6365CC;
}

.nick {
	cursor: default;
	opacity: 0.80;
	font-weight: bold;
}

.nick:hover {
	opacity: 1.00;
}
.nick-0 { color: #016FB9;}
.nick-1 { color: #099db4;} /* Gud one */
.nick-2 { color: #b30e0e;}
.nick-3 { color: #9e54b3;}
.nick-4 { color: #32021F;}
.nick-5 { color: #50514F;}
.nick-6 { color: #BA8C8B;}
.nick-7 { color: #4E1B9B;}
.nick-8 { color: #244F26;}
.nick-9 { color: #424342;}
.nick-a { color: #0F0A0A;}
.nick-b { color: #685155;}
.nick-c { color: #2CC469;}
.nick-d { color: #FF8C61;}
.nick-e { color: #EDAE49;}
.nick-f { color: #039B42;}


#log_lines {
	font-family:'Andale Mono', 'Courier New', monospace;
	font-size: 0.85em;
	text-align: left;
	overflow: auto;
	margin-bottom: 35px;
}

.timestamp {
	font-style: normal;
	text-decoration: none;
	color: #7c7c7c;
}
.timestamp:hover {
	text-decoration: none;
/* 	color: #383d3b; */
	color: #000000;
}

#message-form {
	background:url("/static/img/bg.fa6a95e71d18.png");
	width: 100%;
	position: fixed;
	bottom: 0;
	overflow: auto;
	padding-top: 1px;
	padding-bottom: 3px;
}
#message-form > tbody > tr > td {
	padding: 2px;
}
#message-form > tbody > tr > td > input {
	line-height: 19px;
}
#message-form > tbody > tr > td > button {
	float: right;
}
#message-form > tbody > tr > td > button > img {
	height: 15px;
}
#message-form > tbody > tr > td > input {
 	width: 100%;
}
#message-form > tbody > tr > td.id_message {
 	width: 100%;
}
#message-form > tbody > tr > td.id_password {
	width: 10%;
}
#message-form > tbody > tr > td.id_nickname {
	width: 15%;
}
