{% load staticfiles %} {% load tz %} {% load hex_id %} {% load compress %}
<!DOCTYPE html>
<html>
    <head>
        {% compress css inline %}
            <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        {% endcompress %}
        {% compress js inline %}
            <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
            <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
            <script type="text/javascript" src="{% static "js/sha1.js" %}"></script>
            <script type="text/javascript" src="{% static "js/ircParse.js" %}"></script>
        {% endcompress %}
        <meta charset="utf-8">
        <meta name="author" content="Colin Stevens">
        <title>IRC log for #{{ channel }}</title>
    </head>
    <body>
        <table id="log_lines" style="margin-bottom: 0px">
        </table>
        <script>
            $(document).ready(function() {
                var lines = {% autoescape off %}{{lines}}{% endautoescape %}
                $(lines).each(function(i) {
                    $(compile_message_row(lines[i])).appendTo("#log_lines");
                });
            });
        </script>
    </body>
</html>
